<a href="https://colab.research.google.com/github/NishantRaj29/Credit-Card-Fraud-Detection/blob/main/Credit_Card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#load the dataset
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [ ]:
#first five row
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.shape

(31780, 31)

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
31775,36510,1.497714,-0.874208,0.004261,-1.537368,-1.044513,-0.733905,-0.644635,-0.186510,-2.380495,...,-0.527761,-1.248016,0.145825,-0.061193,0.250252,-0.526898,0.003761,0.007950,24.90,0.0
31776,36512,-0.407854,0.940336,1.533733,-0.018123,-0.219400,-0.934602,0.597172,0.024610,-0.151850,...,-0.247570,-0.725830,-0.006221,0.322366,-0.249413,0.076587,0.255380,0.117340,1.79,0.0
31777,36513,-0.434226,-3.705556,0.194223,0.139216,-2.066818,1.220137,-0.278115,0.281452,-0.161302,...,0.620431,0.040315,-0.690176,-0.226844,-0.123369,-0.291412,-0.080514,0.155457,861.12,0.0
31778,36513,-0.274278,1.004565,1.336430,-0.164777,0.404935,-0.418731,0.853252,-0.148772,-0.546969,...,-0.277437,-0.579135,-0.097793,-0.037926,-0.157882,0.044814,0.078376,-0.137035,9.72,0.0
31779,36513,1.295137,0.096775,0.348134,0.629896,-0.172700,-0.154350,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#dataset info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31780 entries, 0 to 31779
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    31780 non-null  int64
 1   V1      31780 non-null  float64
 2   V2      31780 non-null  float64
 3   V3      31780 non-null  float64
 4   V4      31780 non-null  float64
 5   V5      31780 non-null  float64
 6   V6      31780 non-null  float64
 7   V7      31779 non-null  float64
 8   V8      31779 non-null  float64
 9   V9      31779 non-null  float64
 10  V10     31779 non-null  float64
 11  V11     31779 non-null  float64
 12  V12     31779 non-null  float64
 13  V13     31779 non-null  float64
 14  V14     31779 non-null  float64
 15  V15     31779 non-null  float64
 16  V16     31779 non-null  float64
 17  V17     31779 non-null  float64
 18  V18     31779 non-null  float64
 19  V19     31779 non-null  float64
 20  V20     31779 non-null  float64
 21  V21     31779 non-null  float64
 22  V22     31779 non-null  float64
 23  V23     31779 non-null  float64
 24  V24     31779 non-null  float64
 25  V25     31779 non-null  float64
 26  V26     31779 non-null  float64
 27  V27     31779 non-null  float64
 28  V28     31779 non-null  float64
 29  Amount  31779 non-null  float64
 30  Class   31779 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 7.5 MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
#distribution of legit transaction & furdulent transaction
credit_card_data['Class'].value_counts()

0.0    31677
1.0      102
Name: Class, dtype: int64

0-->Normal Transaction


1->Fraudulent Transaction

In [ ]:
#seperating data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud =credit_card_data[credit_card_data.Class==1]

In [ ]:
legit.shape
fraud.shape

(102, 31)

In [ ]:
#statistical measure of data
legit.Amount.describe()

count    31677.000000
mean        81.082407
std        223.072655
min          0.000000
25%          6.870000
50%         20.000000
75%         73.610000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     102.000000
mean       91.237451
std       248.270971
min         0.000000
25%         1.000000
50%         3.440000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#compare the value for both transactions
credit_card_data.groupby('Class').mean()

#important for unbalnced data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,22335.407141,-0.188381,0.085855,0.759238,0.192821,-0.192581,0.095930,-0.095538,0.019413,0.324683,...,0.041991,-0.03532,-0.118406,-0.039544,0.009212,0.133785,0.022140,0.010340,0.003013,81.082407
1.0,20334.872549,-7.761095,5.946853,-11.035230,5.926171,-5.529543,-2.295415,-7.767215,3.904551,-2.997290,...,0.679987,0.64190,-0.352131,-0.317568,-0.241053,0.314412,0.177056,0.811372,0.118708,91.237451

Under_Sampling

Build a sample dataset containing similiar distribution of normal and fraudlent transaction

In [ ]:
#Number of fraudlent transaction ->102
legit_sample=legit.sample(n=102)

Concatenating the two Dataset

In [ ]:
new_dataset =pd.concat([legit_sample,fraud],axis=0)

#axis =0 for row

In [ ]:
new_dataset.shape

(204, 31)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5417,5395,1.243648,0.287317,-0.079234,0.833528,0.638570,0.579317,-0.059688,-0.091583,1.055705,...,-0.008199,0.264624,-0.424091,-1.385052,0.936081,-0.166515,-0.003966,-0.001944,41.03,0.0
27400,34537,1.214391,0.294563,0.273817,1.134279,-0.313356,-0.969839,0.218157,-0.220056,0.026919,...,0.033337,0.093766,-0.108760,0.390399,0.671587,-0.329057,0.008848,0.022390,19.72,0.0
27980,34796,-0.841946,1.142946,1.790085,2.482536,0.790082,2.996268,-0.017301,0.555613,-0.182241,...,0.146298,1.101425,-0.198732,-1.765761,-0.485803,0.477673,0.194647,0.031443,28.76,0.0
1476,1153,-1.933394,0.362694,0.600302,-0.276266,-1.241034,-0.439342,0.500471,0.805716,-0.431321,...,-0.005164,-0.201480,0.369574,0.567641,-0.164117,0.306871,-0.163808,-0.269050,158.00,0.0
29679,35581,-0.930389,1.284249,0.772640,0.861589,-0.043987,-0.383732,0.393800,0.403276,-0.618515,...,0.186573,0.587096,0.020823,0.082993,-0.236211,-0.293990,0.192825,0.141965,24.37,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
30398,35906,-3.519030,4.140867,-3.628202,5.505672,-4.057463,-0.905945,-6.652031,2.634524,-4.679402,...,1.582556,0.778710,-0.135707,-0.004278,0.032706,0.362014,0.900925,0.554897,9.13,1.0
30442,35926,-3.896583,4.518355,-4.454027,5.547453,-4.121459,-1.163407,-6.805053,2.928356,-4.917130,...,1.691042,0.920021,-0.151104,0.011007,0.080303,0.412191,0.635789,0.501050,4.56,1.0
30473,35942,-4.194074,4.382897,-5.118363,4.455230,-4.812621,-1.224645,-7.281328,3.332250,-3.679659,...,1.550473,0.614573,0.028521,0.013704,-0.149512,-0.131687,0.473934,0.473757,14.46,1.0
30496,35953,-4.844372,5.649439,-6.730396,5.252842,-4.409566,-1.740767,-6.311699,3.449167,-5.416284,...,1.194888,-0.845753,0.190674,-0.216443,-0.325033,-0.270328,0.210214,0.391855,111.70,1.0
31002,36170,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,...,1.128641,-0.962960,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,111.70,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    102
1.0    102
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,20579.568627,-0.271208,0.212747,0.665188,0.380867,-0.222721,0.103043,-0.284310,-0.009892,0.352249,...,0.040877,0.00327,-0.133714,0.002404,0.005262,0.150553,0.015597,-0.066047,-0.034819,62.128431
1.0,20334.872549,-7.761095,5.946853,-11.035230,5.926171,-5.529543,-2.295415,-7.767215,3.904551,-2.997290,...,0.679987,0.64190,-0.352131,-0.317568,-0.241053,0.314412,0.177056,0.811372,0.118708,91.237451

Splitting the data into feature and target

In [ ]:
X= new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [ ]:
print(Y)

5417     0.0
27400    0.0
27980    0.0
1476     0.0
29679    0.0
        ...
30398    1.0
30442    1.0
30473    1.0
30496    1.0
31002    1.0
Name: Class, Length: 204, dtype: float64

Split the data into training data and test data

In [ ]:
from scipy.sparse.construct import random
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(204, 30) (163, 30) (41, 30)

Model Training

In [ ]:
model=LogisticRegression()

In [ ]:
#train the Logistic Regression model
model.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
#accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('Accuracy on Training Data:',training_data_accuracy)

Accuracy on Training Data: 0.9693251533742331

In [ ]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy on Test Data:',test_data_accuracy)

Accuracy on Test Data: 0.8780487804878049